Flask==2.3.3
Pillow==10.0.0
qrcode==7.4.2
opencv-python-headless==4.10.0.84
pytesseract==0.3.10
numpy==1.26.4
cryptography==41.0.4
Werkzeug==2.3.7
python-dotenv==1.0.0
flask-limiter==3.3.0
gunicorn==23.0.0
